<a href="https://colab.research.google.com/github/tylee33/Vision_Lecture/blob/main/3_convolution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Convolution Layer

In [ ]:
import tensorflow as tf
import pandas as pd

In [ ]:
# 데이터를 준비하고
(독립, 종속), _ = tf.keras.datasets.mnist.load_data()
print(독립.shape, 종속.shape)

독립 = 독립.reshape(60000, 28, 28, 1)
종속 = pd.get_dummies(종속)
print(독립.shape, 종속.shape)

Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/mnist.npz
11493376/11490434 [==============================] - 0s 0us/step
11501568/11490434 [==============================] - 0s 0us/step
(60000, 28, 28) (60000,)
(60000, 28, 28, 1) (60000, 10)

In [ ]:
# 모델을 만들고
X = tf.keras.layers.Input(shape=[28, 28, 1])
H = tf.keras.layers.Conv2D(3, kernel_size=5, activation='swish')(X)
H = tf.keras.layers.Conv2D(6, kernel_size=5, activation='swish')(H)
H = tf.keras.layers.Flatten()(H)
H = tf.keras.layers.Dense(84, activation='swish')(H)
Y = tf.keras.layers.Dense(10, activation='softmax')(H)
model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [ ]:
# 모델을 학습하고
model.fit(독립, 종속, epochs=10)

Epoch 1/10
1875/1875 [==============================] - 20s 5ms/step - loss: 0.5045 - accuracy: 0.9299
Epoch 2/10
1875/1875 [==============================] - 7s 4ms/step - loss: 0.1078 - accuracy: 0.9724
Epoch 3/10
1875/1875 [==============================] - 7s 4ms/step - loss: 0.0733 - accuracy: 0.9811
Epoch 4/10
1875/1875 [==============================] - 7s 4ms/step - loss: 0.0582 - accuracy: 0.9850
Epoch 5/10
1875/1875 [==============================] - 7s 4ms/step - loss: 0.0501 - accuracy: 0.9872
Epoch 6/10
1875/1875 [==============================] - 7s 4ms/step - loss: 0.0430 - accuracy: 0.9900
Epoch 7/10
1875/1875 [==============================] - 7s 4ms/step - loss: 0.0350 - accuracy: 0.9911
Epoch 8/10
1875/1875 [==============================] - 8s 4ms/step - loss: 0.0359 - accuracy: 0.9920
Epoch 9/10
1875/1875 [==============================] - 7s 4ms/step - loss: 0.0298 - accuracy: 0.9929
Epoch 10/10
1875/1875 [==============================] - 7s 4ms/step - loss: 0.0284 - accuracy: 0.9934

In [ ]:
# 모델을 이용합니다. 
pred = model.predict(독립[0:5])
pd.DataFrame(pred).round(2)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [ ]:
# 정답 확인
종속[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1

In [ ]:
model.summary()

Model: "model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_1 (InputLayer)        [(None, 28, 28, 1)]       0

 conv2d (Conv2D)             (None, 24, 24, 3)         78

 conv2d_1 (Conv2D)           (None, 20, 20, 6)         456

 flatten (Flatten)           (None, 2400)              0

 dense (Dense)               (None, 84)                201684

 dense_1 (Dense)             (None, 10)                850

=================================================================
Total params: 203,068
Trainable params: 203,068
Non-trainable params: 0
_________________________________________________________________